p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* -- DONATION -- */

.quick-option {
  position: fixed;
  top: 0;
  left: 100%;
  background: #fff;
  height: 100%;
  width: 350px;
  max-width: calc(100% - 45px);
  z-index: 100000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.quick-option.open {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
  box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
}
.form-option-wrapper {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 55px;
}
.form-option-wrapper .form-panel-header {
  padding: 40px 30px 30px;
  text-align: center;
}

/* ==================== Toolbar Area ======================*/
.form-toolbar .inner {
  position: absolute;
  top: 200px;
  right: 100%;
  display: block;
  width: 60px;
  border: 1px solid #fff;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: -3px 0 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 0 10px -2px rgba(0, 0, 0, 0.1);
}
.form-toolbar .inner a {
  display: block;
  padding: 10px;
  background: #000000;
  border-radius: 10px 0px 0px 10px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* ==================== Form Design Area ======================*/
.form-option-wrapper form input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e8e6e6;
}
.form-option-wrapper form input[type="submit"] {
  background: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
.span12 {
  width: 100% !important;
  margin-bottom: 25px;
}

.form-panel-header .notify-btn{
  padding:8px 35px;
  border-radius:50px;
  border:2px solid #47335d !important;
  color:#fff !important;
  background:#47335d !important
}

img.sponsor {
  border-radius: 50%;
}

img.donate_img {
  border-radius: 10%;
}